
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: wb
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: wb
    env_file: .env
    ports:
      - "5432:5432"

  api:
    build: .
    env_file: .env
    environment:
      - PYTHONPATH=/app/src
    volumes:
      - ./:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --app-dir /app/src
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    dns:
      - 1.1.1.1
      - 8.8.8.8    
